@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    color: rgb(47, 90, 217);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb (177, 225, 255);
}

button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid blue;
    background-color: lightblue;
    color: blue;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

span {
    font-weight: 600;
    font-size: 25px;
    margin: 0 20px;
}

#counter {
    display: flex;
    margin-top: 20px;
}

.negative {
    color: rgb(240, 41, 30);
}
